<!DOCTYPE html>
<html ng-app="Cinema">

<% include ./shared/head.ejs %>
<header>
  <% include ./shared/header.ejs %>
</header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <body>
    <%- body %>
  </body>
  
</html>