<!DOCTYPE html>
<html ng-app="Cinema">

<% include ./shared/head.ejs %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <% include ./shared/header.ejs %>
</header>
  <body>
    <%- body %>
    <footer>
      <% include ./shared/footer %>
  </footer>
  </body>
  
</html>