body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#movie-image{
  width: 100%;
}
#movie-form{
  background: white;
  z-index: 10;
  margin-top: -150px;
  padding-top:20px;
  padding-bottom: 20px;
  border: 2px solid #fc6e51; 
  border-radius: 1%;
}
.form-control:focus{
  border-color : #fc6e51 !important;
  box-shadow : inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 98, 72, 0.6) !important;
}
.btn.btn-primary{  
  background: #fc6e51;
}
.create-form-button{
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 100;  
}
.btn.btn-primary:hover{
  background:#8e1c00 !important;
}
.btn.btn-primary:active{
  background:#8e1c00 !important;
}
.btn.btn-primary:focus{
  background:#8e1c00 !important;
}
#btnCreate{
  position: absolute;
  top: 5px;
  right: 5px;
}
#btnAddImage{
  position: absolute;
  top: 5px;
  left: 5px;
}
#content{
  position: relative;
}
#inputFile{
  display: none;
}
.item-movie img{
  max-width: 100%;
  height: 300px;
}
.about{
  transition: transform 1s;
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: -8px;
  padding: 20px;
  width: 100%;
  
}
.item-movie{
  position: relative;
  display: inline-grid;
  overflow: hidden;
}
label.date{
  background-color: #fc6e51;
  color: #fbfbfb;
  padding: 5px 9px;
  letter-spacing: 0.5px;
  transform : translateY(40px) !important;
  transition: opacity 1s, transform .50s;
  border-radius: 3px;
}
.about p{
  margin-top: 15px;
  opacity: 0;
  transition: opacity 1s,transform .50s;
  transform : translateY(40px) !important;
  text-shadow : 0px 4px 13px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.about h2{
  transform : translateY(40px) !important;
  transition: opacity 1s,transform .50s;  
}
.item-movie:hover p{
  opacity: 1;
  transition: opacity 1s, transform .50s;
  transform : translateY(-15px) !important;
}
.item-movie:hover label{
  transition: opacity 1s, transform .50s;
  transform : translateY(-15px) !important;
}
.item-movie:hover .about{
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 100%);
  transition: transform 1s;
}
.item-movie:hover h2{
  transition: opacity 1s, transform .50s;
  transform : translateY(-15px) !important;
}
.item {
  margin-bottom: 25px;
}
.btn-detail{
  float: right;
  position: absolute;
  right: 7px;
  border-radius: 100% !important;
  top: 5px;
}
.item{
  position: relative;
}