<% layout('../layout') -%>
<div class="loader"></div>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" ng-controller="DetailController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img id="brand-img" width="66px;" src="/images/movie-icon.png" />
                    <span class="brand">My<strong>Cinema</strong>
                    </span>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">            
                <ul class="nav navbar-nav navbar-right">
                        <li ng-show="user._id" ng-cloak>
                                <a ng-href="/user/{{user._id}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{user.username}}</a>
                            </li>
                    <li ng-show="user._id" ng-cloak>
                        <a href="/create">
                            <i class="fa fa-user-plus"></i> Tạo phim</a>
                    </li>
                    <li ng-show="!user._id" ng-cloak>
                        <a href="/register">
                            <i class="fa fa-user-plus"></i> Đăng ký</a>
                    </li>                   
                    <li ng-show="user._id" ng-cloak>
                            <a href="" ng-click="signout()">
                                <i class="fa fa-sign-out"></i> Đăng xuất</a>
                        </li>
                    <li ng-show="!user._id" ng-cloak>
                        <a href="/login">
                            <i class="fa fa-sign-in"></i> Đăng nhập</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <div class="parent" ng-controller="DetailController">
        <div class="container">
            <div id="content">
                <a id="btnCreate" ng-href="/film/{{movie.link}}/edit" ng-show="movie.user === user._id" type="submit" id="edit-button" class="fix-line-height create-form-button btn btn-primary">Sửa</a>
                <img id="movie-image" ng-src="{{movie.imgURL !== undefined ? movie.imgURL : tempImage }}">
            </div>
            <div id="movie-form" class="col-md-10 col-md-offset-1">
                <h1 id="label" class="text-center">{{movie.movieName}}</h1>
                <p class="text-detail">
                    <span>
                        <strong>Thể loại phim: </strong>{{movie.movieType}}</span>
                </p>
                <p class="text-detail">
                    <span>
                        <strong>Thời gian phát hành: </strong> {{movie.publicDate | date: 'dd/MM/yyyy'}}</span>
                </p>
                <p class="text-detail">
                    <span>
                        <strong>Nội dung mô tả: </strong> {{movie.description}}</span>
                </p>                
            </div>
        </div>
    </div>
    </div>
    <script src="/javascripts/cinema/detail.js"></script>