<% layout('../layout') -%>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" ng-controller="HomeController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img id="brand-img" width="66px;" src="/images/movie-icon.png" />
                    <span class="brand">My<strong>Cinema</strong>
                    </span>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">            
                <ul class="nav navbar-nav navbar-right">
                        <li ng-show="user._id" ng-cloak>
                                <a href="/user/{{user._id}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{user.username}}</a>
                            </li>
                    <li ng-show="user._id" ng-cloak>
                        <a href="/create">
                            <i class="fa fa-user-plus"></i> Tạo phim</a>
                    </li>
                    <li ng-show="!user._id" ng-cloak>
                        <a href="/register">
                            <i class="fa fa-user-plus"></i> Đăng ký</a>
                    </li>                   
                    <li ng-show="user._id" ng-cloak>
                            <a href="" ng-click="signout()">
                                <i class="fa fa-sign-out"></i> Đăng xuất</a>
                        </li>
                    <li ng-show="!user._id" ng-cloak>
                        <a href="/login">
                            <i class="fa fa-sign-in"></i> Đăng nhập</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <div ng-controller="HomeController">
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="movie in movies" class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="item-movie">
                            <a ng-href="/film/{{movie.link}}" class="btn-detail">
                                <img class="img-cinema" ng-src="{{movie.imgURL !== undefined ? movie.imgURL : tempImage }}">
                            </a>
                            <div class="content">
                                <h3 class="title">
                                    <a ng-href="/film/{{movie.link}}">{{movie.movieName}}</a>
                                </h3>
                                <p class="text-detail">
                                    <span>
                                        <strong>Thể loại: </strong>{{movie.movieType}}
                                    </span>
                                </p>
                                <p class="text-detail">
                                    <span>
                                        <strong>Khởi chiếu: </strong>{{movie.publicDate | date: 'dd-MM-yyyy'}}
                                    </span>
                                </p>
                                <a type="button" class="detail-btn btn btn-success" ng-href="/film/{{movie.link}}"><span><i
                                            class="fa fa-info-circle"></i><strong> CHI TIẾT</strong></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/cinema/home.js"></script>