<% layout('../layout') -%>
    <div ng-controller="HomeController">
        <div class="container-fluid">
            <div class="row">

                <div ng-repeat="movie in movies" class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="item-movie">
                            <a ng-href="/detail/{{movie._id}}" class="btn-detail">
                                <img class="img-cinema" src="/images/movie-image.jpg">
                            </a>

                            <div class="content">
                                <h3 class="title">
                                    <a ng-href="/detail/{{movie._id}}">{{movie.movieName}}</a>
                                </h3>
                                <p class="text-detail">
                                    <span>
                                        <strong>Thể loại: </strong>{{movie.movieType}}
                                    </span>
                                </p>
                                <p class="text-detail">
                                    <span>
                                        <strong>Khởi chiếu: </strong>{{movie.publicDate | date: 'dd-MM-yyyy'}}
                                    </span>
                                </p>
                                
                            </div>
                            <div class="btn-detail-second">
                            <a type="button" class="detail-btn btn btn-success" ng-href="/detail/{{movie._id}}"><span><i class="fa fa-info-circle"></i><strong> CHI TIẾT</strong></span></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/cinema/home.js"></script>